
.reactionTimeDiv {
    width: 100%;
    height: 60vh;
    margin-top: 20vh;
    background-color: rgba(104, 104, 188, 0.537);
    flex: content;
}

.waitingForClick {
    background-color: green;
}

.reactMessage {
    text-align: center;
    color: rgb(0, 0, 0);
    display: block;
}

.reactStateMessage {
    font-size: 3vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15vh;
}

.reactionTimeDiv span {
    color: rgb(68, 29, 29);
    font-size: 1.5vw;
}

.waitingForGreen {
    background-color: red;
}