html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.chooseCardMainDiv {
    background-image: url('../../../../images/casinoImg.png');
    background-repeat: cover;
    width: 100%;
    height: 100vh;
    
}

.oddsChoice {
    display: flex;
    align-content: space-between;
    margin-left: 17vw;
    margin-top: 7vh;
    text-align: center;
}

.cards h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: calc(1.5vw + 1.5em);
    height: 7vh;
    color:rgb(223, 222, 222);
}


.oddsBox img{
    border: 3px solid black;
    margin-left: 5vw;
    border-radius: 5%;
    width: 15vw;
    cursor: pointer
}

.oddsBox img:hover {
    border: 4px solid red;
}

.oddsBox h1 {
    font-family:'Brush Script MT', cursive;
    margin-left: 4vw;
}