html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.chooseCardMainDiv {
    background-image: url('../../../../images/casinoImg.png');
    background-repeat: cover;
    width: 100%;
    height: 100vh;
    
}

.oddsChoice {
    display: flex;
    align-content: space-between;
    margin-left: 17vw;
    margin-top: 7vh;
    text-align: center;
}

.cards h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: calc(1.5vw + 1.5em);
    height: 7vh;
    color:rgb(223, 222, 222);
}


.oddsBox img{
    border: 3px solid black;
    margin-left: 5vw;
    border-radius: 5%;
    width: 15vw;
    cursor: pointer
}

.oddsBox img:hover {
    border: 4px solid red;
}

.oddsBox h1 {
    font-family:'Brush Script MT', cursive;
    margin-left: 4vw;
}

.guessCardDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10vh;

}

.guessCardDiv img {
    width: 15vw;
    margin-left: 2vw;
    border: 4px solid black;
    border-radius: 5%;
}

.guessCardDiv img:hover {
    border: 5px solid indianred;
}

.cashoutBtn {
    margin: auto;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    margin-left: 40%;
    margin-top: 5vh;
    font-family:'Brush Script MT', cursive;
    font-size: calc(1.4vw + 1.4em);
    cursor:pointer;
    transition: background-color 1s ease-out 100ms

}

.cashoutBtn:hover {
    background-color: brown;
}

@keyframes fillBackground {
    from {background-color: rgb(255, 249, 249);}
    to {background-color: brown;}
}

.winInfo h1, .betInput {
    color: indianred;
    font-size: 1.5vw;
    float: right;
    margin-right: 10vw;
}

.winInfo {
    padding-top: 2vh;
}

.winInfo .betInput input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid black;
    color: rgb(255, 140, 0);
    font-size: calc(.55vw + .55em);
    margin-left: 1.3vw;
    width: 12vw;
}

.betInput input:focus {
    outline: none;
    border-bottom: 3px solid rgb(83, 4, 4);
    font-size: calc(.64vw + .64em);
}

.winMessage h1 {
    color: rgb(11, 255, 20);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 10vw;
    animation:  horizontal-shaking 1s infinite;
    font-size: calc(2vw + 2em);
}

.loseMessage h1 {
    color: rgb(255, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 10vw;
    animation:  horizontal-shaking .3s infinite;
}

.chooseCardMainDiv span {
    color: green;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }