
.oddsGames {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 23vw;
    background-color: rgba(0,0,0);
}


.oddsGame img {
    width: 20vw;
    height: 50vh;
}


.rocketGameInfo {
    width: 30vw;
    text-align: center;
    margin-top: 1vh;
    font-family: "Lucida Handwriting", cursive;
    color: black;   
}


.rocketGameInfo h2 {
    font-size: calc(2vw + 2vh);
    color: indianred;
}

.rocketGameWrapper {
    float: left;
    margin-top: 10vh;
    margin-left: 5vw;
    width: 32%;

}
