
@keyframes vertical-shaking {
    0% { transform: translateY(0) }
    25% { transform: translateY(5px) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(5px) }
    100% { transform: translateY(0) }
  }

.rocket {
    animation: vertical-shaking 0.35s infinite;
}



.rocket img{
    width: 8vw;
    height: 16vh;
    position: relative;
}

.rocket {
    margin-left: 50%;
    
}

.rocket::before{
    content: '';
    position: absolute;
    bottom: -100px;
    left: 11.4%;
    transform: translateX(-50%);
    width: 1vw;
    height: 100px;
    background: linear-gradient(rgb(0, 200, 255), transparent);

}



.rocket::after{
    content: '';
    position: absolute;
    bottom: -100px;
    left: 11.4%;
    transform: translateX(-50%);
    width: 3vw;
    height: 14vh;
    background: linear-gradient(rgb(0, 200, 255), transparent);
    filter: blur(15px)
}

.rocketDiv i {
    position: absolute;
    top: -250px;
    animation: animateStar linear infinite;
    background: white;
}

.rocketDiv h2 {
    position: absolute;
    left: 50%;
}

.rocketWrapper {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: black;
    float: right;

}

.rocketWrapper h1 {
    color: rgb(185, 23, 23);
    text-align: center;
    width: 100%;
    background-color: wheat;
    font-family: "Lucida Handwriting", cursive;

}
.rocketGameInfo {
    width: 30vw;
    text-align: center;
    margin-top: 1vh;
    font-family: "Lucida Handwriting", cursive;
    color: black;   
}


.rocketGameInfo h2 {
    font-size: calc(2vw + 2vh);
    color: indianred;
}

.rocketGameWrapper {
    float: left;
    margin-left: 5vw;
    width: 70%;
    float: right;
    height: 60vh;

}

.betMenu {
    float: left;
}

@keyframes animateStar {
    0%{
       transform: translateY(0);
    }

    100% {
       transform: translateY(85vh);
    }
}

