
.sequinceBox {
    background-color: rgba(6, 197, 255, .5);
    height: 50vh;
    margin-top: 1vh;
    
}

.row {
    text-align: center;
    height: 90px;
}

.card {
    display: inline-block;
    width: 100px;
    height: 90px;
    border: 1px solid black;
    background-color: gray;
}

.hightlight {
    height: 100%;
    width: 100%;
    background-color: red;
}

.card:hover {
    background-color: indianred;
}
