
.sequinceBoxWrapper {
    background-color: rgb(0, 0, 0);
    height: 50vh;
    margin-top: 1vh;
    
    
}
.sequinceBox {
    padding-top: 6vh;
}
.row {
    text-align: center;
    height: 90px;
}

.card {
    display: inline-block;
    width: 100px;
    height: 90px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.733);
    transition: color 1s ease;
    transition: background-color 1s ease;
}

.hightlight {
    height: 100%;
    width: 100%;
    background-color: rgba(116, 4, 4, 0.534);
    animation: slideaway 1.5s;
}

.card:hover {
    background-color: indianred;
}

@keyframes slideaway {
    from {background-color: rgba(116, 4, 4, 0);}
    to {background-color: rgba(116, 4, 4, 0.8);}
  }
  
.hide {

display: none;
}